/* -------------------------------------------------------------------------- */
/*                            Tailwind CSS v4                                 */
/* -------------------------------------------------------------------------- */

@use "./tailwind.css";

/* -------------------------------------------------------------------------- */
/*                            Custom Styles                                   */
/* -------------------------------------------------------------------------- */

// Import user customizations
@use "./user";
